.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.black a {
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@keyframes hyphen {
    0% {
        width: 0.5em;
    }

    100% {
        width: 2.5em;
    }
}

.navigation {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 25px 5px 25px;
    z-index: 1;
}


.navigation.white .selected {
    border-bottom: 1px solid white;
}

.navigation.black .selected {
    border-bottom: 1px solid black;
}

.footer {
    background-color: black;
    padding: 50px 25px 50px 25px;
}

.footer .row {
    width: 70%;
    margin: auto;
}

.footer .row:first-child {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.footer .col-md a, .footer .col-md p {
    display: block;
    color: white;
}

.footer .col-md {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0px 0px 0px 0px;
}

@media (min-width: 770px) {
    .footer .row {
        justify-content: center;
    }
}

@media (max-width: 769px) {
    .footer .row {
        justify-content: space-around;
    }
}

.footer div.links {
    width: 150px;
    margin: auto;
}

.link {
    margin: 0px 8px 0px 8px;
}

.white a {
    color: white
}

.intro {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('./gradient-background-04.png');
    background-size: cover;
    color: white;
    height: 100vh;
}

.intro p {
    color: white;
}

.intro-sub {
    width: 80%;
    margin: auto;
    display: flex;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.intro img {
    width: 100%;
}

.intro-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadein 0.8s 1.5s both;
    margin: auto;
}

.rotate {
    animation: rotate 15s 1s infinite linear;
}

.intro-sub .img-div {
    width: 210px;
}

.intro-bottom {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    animation: fadein 0.8s 2s both;
}

.intro svg {
    width: 10px;
    height: 10px;
    margin: 2px 8px 0px 8px;
}

.intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.intro h1 {
    margin: 0px 0px 10px 0px;
    font-weight: 700;
    animation: fadein 0.8s 0.5s both;
}

.intro h1:hover, .intro h2:hover {
    mix-blend-mode: difference;
}

.intro h2 {
    font-weight: 500;
    animation: fadein 0.8s 1s both;
}

.line {
    display: inline-block;
    height: 0.05em;
    width: 1.1em;
    vertical-align: middle;
    background-color: white;
}

.space {
    display: inline-block;
    height: 0.05em;
    width: 1.5em;
}

.intro .emoji {
    font-size: 5.5rem;
    z-index: 1;
    position: absolute;
    margin-top: -2px;
}

@keyframes updown {
  0% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-2px);
  }
}

canvas {
    position: absolute;
    top:0;
    left: 0;
}

@media screen and (max-width: 600px) {

    .intro-text {
        padding-bottom: 50px;
    }
    .intro h1 {
        font-size: 3rem;
    }
    .intro h2 {
        font-size: 1.75rem;
        line-height: 2rem;
    }
    .page-header h1 {
        font-size: 10vw;
    }
    .page-header-text {
        max-width: 90%;
    }
    .page-description img {
        width: 100%;
    }
    #bug-3 {
        width: 200px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1149px){
    .intro-text {
        padding-bottom: 50px;
    }
    .intro h1 {
        font-size: 3.5rem;
    }
    .intro h2 {
        font-size: 2.1rem;
    }
    .page-header h1 {
        font-size: 5rem;
    }
    .page-header-text {
        max-width: 80%;
    }
    .page-description img {
        width: 80%;
    }
    #bug-3 {
        width: 250px;
    }
}

@media screen and (min-width: 1150px) {
    .intro h1 {
        font-size: 5rem;
    }
    .intro h2 {
        font-size: 2.9rem;
    }
    .intro-icon {

    }
    .page-header h1 {
        font-size: 4.1rem;
    }
    .page-header-text {
        max-width: 70%;
    }
    .page-description .text-div {
        width: 50%;
        margin: auto;
    }
    .page-description img {
        width: 80%;
    }
    .page-header-text h4 {
        max-width: 60%;
        margin: auto;
    }
    #bug-3 {
        width: 250px;
    }
}

.page-description img {
    margin: auto;
    display: block;
}

.text-div {
    padding: 30px 15px 30px 15px;
}

.page-header h1 {
    padding: 30px 0px 30px 0px;
    font-weight: 600;
    text-align: center;
}

.projects {
    margin: auto;
    min-height: 100vh;
    padding: 130px 20px 60px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-thumbnail {
    width: 530px;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 30px 0px;
    border-radius: 5px;
}

.project-thumbnail img {
    width: 100%;
}

.project-category {
    display: flex;
}

.project-category p {
    margin: 5px 25px 5px 0px;
}

.project-thumbnail h6, h5, p {
    color: black;
}

.project-title h5 {
    font-size: 2rem;
    font-weight: 600;
    margin: 15px 0px 10px 0px;
}

.project-title h6 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 5px 0px 0px 0px;
}

.credit {
    color: #888888;
    font-size: 0.9rem;
    padding: 10px 0px 10px 0px;
}

#icon {
    width: 17px;
    margin: -1px 0px 0px 10px;
}

.about-page {
    background-color: #FAFAFA;
    padding: 70px 0px 40px 0px;
}

.about-page .row {
    min-height: 90vh;
}

.page-width {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    animation: fadein 1s 0.5s both;
}

.about-page img {
    width: 70%;
}

.about-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

.first {
    animation: fadein 1s 1s both;
}

.second {
    animation: fadein 1s 1.5s both;
}

.about-text h3 {
    font-weight: 400;
    line-height: 2.3rem;
}

.emoji {
    margin-right: 5px;
}


.page-header {
    text-align: center;
    padding: 30px 30px 30px 30px;
    height: 95vh;
}

.page-header-text {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.page-header h4 {
    padding-bottom: 30px;
    font-weight: 400;
}

.page-description {
    width: 90%;
    margin: auto;
}

.page-description img {
    padding: 20px 20px 20px 20px;
}

.page-body {
    padding-bottom: 80px;
}

.experiments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experiments h6, .experiments h5, .experiments p {
    color: white;
}

#subtitle {
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.experiments-page {
    padding: 60px 30px 60px 30px;
    background-color: black;
}

#bug, #bug-2 {
    position: absolute;
    z-index: 1;
}

#bug {
    width: 250px;
    top: 100px;
    left: 2%;
    margin-left: 50px;
    animation: bug 5s ease-in-out infinite;
}

#bug-2 {
    width: 350px;
    top: 150px;
    right: 5%;
    animation: bug2 4s ease-in-out infinite;
}

#bug-3 {
    animation: bug2 4s ease-in-out infinite;
    margin: -50px 0px -50px 0px;
}

@keyframes bug {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes bug2 {
  0% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translate(0px, 24px);
    }

    100% {
        opacity: 1;
        transform: translate(0px,0px);
    }
}
